//-------------------------------------------------------------------------
//						www.verificationguide.com
//-------------------------------------------------------------------------
//monitorul urmareste traficul de pe interfetele DUT-ului, preia datele verificate si recompune tranzactiile (folosind obiecte ale clasei transaction); in implementarea de fata, datele preluate de pe interfete sunt trimise scoreboardului pentru verificare
//Samples the interface signals, captures into transaction packet and send the packet to scoreboard.

//in macro-ul INPUT_MON_IF se retine blocul de semnale de unde monitorul extrage datele
`define INPUT_MON_IF input_vif.MONITOR.monitor_cb
class input_monitor;
  
  //creating virtual interface handle
  virtual interface_in input_vif;
  
  //se creaza portul prin care monitorul trimite scoreboardului datele colectate de pe interfata DUT-ului sub forma de tranzactii 
  //creating mailbox handle
  mailbox mon2scb;
  
  //cand se creaza obiectul de tip monitor (in fisierul environment.sv), interfata de pe care acesta colecteaza date este conectata la interfata reala a DUT-ului
  //constructor
  function new(virtual interface_in input_vif,mailbox mon2scb);
    //getting the interface
    this.input_vif = input_vif;
    //getting the mailbox handles from  environment 
    this.mon2scb = mon2scb;
  endfunction
  
  //Samples the interface signal and send the sample packet to scoreboard
  task main;
    forever begin
      //se declara si se creaza obiectul de tip tranzactie care va contine datele preluate de pe interfata
      input_transaction trans;
      trans = new();

      //datele sunt citite pe frontul de ceas, informatiile preluate de pe semnale fiind retinute in oboiectul de tip tranzactie
      @(posedge input_vif.clk);// poate e nenecesar
      while(`INPUT_MON_IF.req_wr_i ==0)begin
        trans.delay = trans.delay + 1;
      end
      
      wait (`INPUT_MON_IF.ack_wr_o ==1);

	trans.addr  = `INPUT_MON_IF.data_wr_i[9:8];
	trans.data_wr_i = `INPUT_MON_IF.data_wr_i[7:0];
      
      @(posedge input_vif.MONITOR.clk);
      // dupa ce s-au retinut informatiile referitoare la o tranzactie, continutul obiectului trans se trimite catre scoreboard
        mon2scb.put(trans);
    end
  endtask
  
endclass
